<div class="small-12 medium-2 large-1 columns">
  <nav class="icon-bar medium-vertical four-up">
    <a class="item" {{action "save" model}}>
      <i class="fa fa-save"></i>
      <label>Save</label>
    </a>

    <a class="item" {{action "reload" model}}>
      <i class="fa fa-refresh"></i>
      <label>Reload</label>
    </a>

    <a class="item" {{action "cancel" model}}>
      <i class="fa fa-close"></i>
      <label>Cancel</label>
    </a>

    <a class="item no-hover">
      <i class="switch small radius">
        {{input type="checkbox" name="showPreview" checked=showPreview id="showPreview"}}
        <label for="showPreview"></label>
      </i>
      <label>Preview</label>
    </a>
  </nav>
</div>

<div class="small-12 medium-10 large-11 columns">
  <section {{bind-attr class="showPreview:large-6:large-12 :small-12 :columns"}}>
    <span class="label">Edit</span>
    <div class="fieldset">
      <form>
        <div class="row">
          <div class="small-12 medium-6 columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <label class="prefix" for="title">Title</label>
              </div>

              <div class="small-9 columns">
                {{input type="text" value=title id="title" placeholder="Title"}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-12 medium-6 columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <a {{action "addTag"}} href="#" class="button prefix" for="tags"><i class="fa fa-plus-circle"></i> Tag</a>
              </div>

              <div class="small-9 columns">
                {{input type="text" value=selectedTag list="matching-tags" autocomplete="off"}}

                <datalist id="matching-tags">
                {{#each obj in matchingTags}}
                  <option {{bind-attr value=obj.tag}}></option>
                {{/each}}
                </datalist>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <ul class="inline-list">
              {{#each tag in tags}}
                <li class="label secondary radius">
                  <span><i class="fa fa-remove clickable" {{action "removeTag" tag}}></i> {{tag.tag}}</span>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            {{add-attachment document=model action="addAttachment"}}
          </div>
        </div>

        {{#if attachments}}
        <div class="row">
          <div class="small-12 columns">
            <ul class="no-bullet">
            {{#each attachment in attachments}}
              <li>
                <i class="fa fa-times-circle clickable" {{action "deleteAttachment" attachment}}></i>
                {{#attachment-link uri=attachment.id}}
                  {{attachment.file_name}}
                {{/attachment-link}}
              </li>
            {{/each}}
            </ul>
          </div>
        </div>
        {{/if}}

        <div class="row">
          <div class="small-12 columns">
            <label class="label">Body</label>
            {{text-editor body=body}}
          </div>
        </div>
      </form>
    </div>
  </section>

  {{#if showPreview}}
  <section class="small-12 large-6 columns">
    <span class="label">Preview</span>
    <div class="panel preview">
      <article>
        <h1>{{title}}</h1>
        {{parse-markdown body}}
      </article>
    </div>
  </section>
  {{/if}}
</div>
