<div class="small-12 medium-2 large-1 columns">
  <nav class="icon-bar medium-vertical three-up">
    {{#link-to "leaf.edit" model class="item"}}
      <i class="fa fa-edit"></i>
      <label>Edit</label>
    {{/link-to}}

    <a href="#" class="item" {{action "delete" model}}>
      <i class="fa fa-remove"></i>
      <label>Delete</label>
    </a>

    <a href="#" class="item" {{action "back"}}>
      <i class="fa fa-arrow-circle-left"></i>
      <label>Back</label>
    </a>
  </nav>
</div>

<div class="small-12 medium-10 large-11 columns">
  {{#if tags}}
    <h4>Tags</h4>
    <ul class="inline-list">
      {{#each tag in tags}}
        <li><span class="label secondary radius med">{{tag.tag}}</span></li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if attachments}}
    <h4>Attachments</h4>
    <ul class="no-bullet">
    {{#each attachment in attachments}}
      <li><i class="fa fa-paperclip"></i>
        {{#attachment-link uri=attachment.id}}
          {{attachment.file_name}}
        {{/attachment-link}}
      </li>
    {{/each}}
    </ul>
  {{/if}}

  <article>
    <h1>{{title}}</h1>
    {{parse-markdown body}}
  </article>
</div>
