<section class="small-12 medium-4 columns">
  <span class="label">Leaves</span>
  <div class="panel">
    <ul class="fa-ul">
    {{#each leaf in content}}
      <li {{action "preview" leaf on="mouseEnter"}}>
        {{#link-to "leaf" leaf.id}}
        <i class="fa-li fa fa-leaf"></i>
          {{#if leaf.title}}
            {{leaf.title}}
          {{else}}
            No title
          {{/if}}
        {{/link-to}}
      </li>
    {{/each}}
    </ul>
  </div>
</section>

{{#if previewing}}
<section class="small-12 medium-8 columns">
  <span class="label">Preview</span>
  <div class="panel preview">
    <article>
      <h1>{{previewing.title}}</h1>
      {{parse-markdown previewing.body}}
    </article>
  </div>
</section>
{{/if}}
