<div class="small-12 columns">
  {{#each tag in content}}
    <span class="label"><i class="fa fa-tag"></i> {{tag.tag}}</span>

    <div class="panel">
    {{#if tag.leaves}}
      <ul class="small-block-grid-1 medium-block-grid-4 large-block-grid-6">
      {{#each leaf in tag.leaves}}
        <li class="clickable text-center">
          {{#link-to "leaf" leaf}}
            <i class="fa fa-leaf"></i>
            {{#if leaf.title}} {{leaf.title}} {{else}} No title {{/if}}
          {{/link-to}}
        </li>
      {{/each}}
      </ul>
    {{else}}
      <i class="fa fa-remove clickable" {{action "deleteTag" tag}}> Delete Tag</i>
    {{/if}}
    </div>
  {{/each}}
</div>
